header {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #1a1a1a;
}

.spinner-border {
    margin-left: 5px;
}

body {
    background: #212121;
}

q {
    /* quotes: "\00ab" "\00bb"; */
    quotes: "\201c" "\201d";
    font-weight: bold;
}

label, p, small,
h1,
h2,
h3,
h4, 
h5, 
h6 {
    color: white;
}

.x1 {
    width: 700px;
    margin-top: 16px;
}

#hesh_plus {
    font-weight: 700;
    text-align: center;
    max-width: 38px;
    max-height: 38px;
}

.spinbox {
    border: none;
    border-radius: 5px;
    font-size: 17pt;
    width: 200px;
}

.nec_data {
    max-width: 200px;
    font-size: 17pt;
    max-height: 35px;
}
